header {
  height: 50px;
}

main {
  padding: 0 16px;
  
}

 
 
 
.nav-item {
 
  margin: 0;
   
}
.nav-link {
  padding: 0;
  height: 35px;
  width: 50%;
  text-align: left;
  color: #71defb !important;
 
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
 
  color: #39b6d6 !important;

}

.navbar-collapse {
  
  padding-left: 3rem;
  
}
figure {
  text-align: center;
}
figcaption, h1 {
  text-align: center;
}

.main_section {
  margin: 8rem 0;
}

.main_section img {
  width: 100%;
}
.main_section img:hover,
.main_section img:active {
  box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.5);
}
.main_section h1 {
  font-weight: bold;
}

.main_section p {
  color: rgb(100, 99, 99);
 text-align: center;
}

#Balinese {
  margin-bottom: 6rem;
}

footer {
  margin-top: 5rem;
}

@media (max-width: 1200px) {
  .main_section img {
    width: 100%;
  }
}